/*
 * -------------------------------------------------
 * Nextflow config file for Layer Lab DNA Seq
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the configuration folder and imported under a
 * profile name here.
 */

manifest {
  author = 'Mahmood Javaid'
  description = 'Layer Lab, CU Boulder - Workflow For DNA Seq Variant Calling'
  homePage = 'http://layerlab.org'
  mainScript = 'main.nf'
  name = 'LayerLabDNASeq'
  nextflowVersion = '>=19.05.0-edge'
  version = '0.1'
}


profiles {
  // Default config for Fiji cluster in CU BioFrontiers Institute
  fiji {
    includeConfig 'conf/base.config'
    includeConfig 'conf/fiji.config'
  }
  mendel {
    includeConfig 'conf/base.config'
    includeConfig 'conf/mendel.config'
  }

  standard {
    //includeConfig 'conf/base.config'
    //includeConfig 'conf/localhost.config'
    //includeConfig 'conf/singularity.config'
   }
}
